<!--This CustomLayout uses inline styles.-->
<table align="center" cellspacing="10"
style="width: 100%; height: 100%; color: #fff; padding: 20px;
background: #31629E repeat-x">
<tr>
<td colspan="2">
<h1 style="margin-top: 0;">Login</h1>
<td>
</tr>
<tr>
<td align="right">User&nbsp;name:</td>
<td>
<div location="username"></div>
</td>
</tr>
<tr>
<td align="right">Password:</td>
<td>
<div location="password"></div>
</td>
</tr>
<tr>
<td align="right" colspan="2">
<div location="okbutton" style="padding: 10px;"></div>
</td>
</tr>
<tr>
<td colspan="2" style="padding: 7px; background-color: #4172AE">
<span style="font-family: FontAwesome; margin-right: 5px;">&#xf05a;</span>
Please enter username and password.
<td>
</tr>
</table>